.fire {
    color: red;
}

.water {
    color: #8ec3cf;
}

.poison {
    color: rgb(187 120 3);
}

.bug {
    color: rgb(93 137 81);
}

.grass {
    color: rgb(101 142 116);
}

.flying {
    color: rgb(53 103 113);
}

.normal {
    color: blanchedalmond;
}

.ground {
    color: brown;
}

.fairy {
    color: pink;
}

.fighting {
     color: bisque;
}

.psychic {
    color: rosybrown;
}

.rock {
    color: rgb(222, 204, 187);
}

.electric {
    color: aquamarine;
}

.steel {
    color: blueviolet;
}