.d_none {
    display: none;
}

#overlay {
    height: 750px;
    width: 600px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 37%;
    background-color: rgb(41 53 72);
    overflow: hidden;
}

.header-first-line {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
}

#overlayPokemonName {
    font-size: 30px;
}

.header-second-line {
    background-color: white;
}

.overlay-pokemon-image {
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-pokemon-types {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    background-color: #2a2a2a;
}

.overlay-pokemon-type {
    padding: 5px 5px;
    font-weight: 600;
    padding: 10px 70px;
    font-size: 20px;
}

.overlay-link {
    text-align: center;
    color: white !important;
    font-size: 32px !important;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    font-weight: 900;
    font-size: 20px;
    color: white!important;
}

.overlay-footer {
    display: flex;
    justify-content: space-evenly;
}

#main {
    gap: 12px;
    padding: 50px 10px;
    font-size: 30px;
    font-weight: 600;
    background-color: #e07171;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.overlay-content {
    padding: 30px 0px;
    color: white;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: x-large;
}

.button {
    margin-top: 10px;
    padding: 3px 28px;
    font-size: 24px;
    border-radius: 10%;
    background-color: #8b8b8b;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.padding-bottom {
    padding-bottom: 5px;
}

.overlay-content table td:first-child {
    width: 150px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.overlay-content table td:last-child {
    text-align: left;
}