.d_none {
    display: none;
}

#overlay {
    height: 750px;
    width: 600px;
    position: fixed;
    z-index: 1;
    top: 17%;
    left: 34%;
    background-color: rgb(41 53 72);
}

.header-first-line {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
}

#overlayPokemonName {
    font-size: 30px;
}

.header-second-line {
    background-color: white;
}

.overlay-pokemon-image {
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay-pokemon-types {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    background-color: #2a2a2a;
}

.overlay-pokemon-type {
    padding: 5px 5px;
    font-weight: 600;
    padding: 10px 70px;
    font-size: 20px;
}