html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #0f0f0f;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #09172dde;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #09172dde;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffde;
}

main {
    flex: 1;
}

.main-page {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: rgb(16 16 16);

}

.pokedex-logo {
    height: 50px;
    padding-right: 10px;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 24px;
    color: white;
}

.pokedex-logo-footer {
    height: 60px;
    padding-right: 15px;
}

#content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 75px 0px;
    margin: 0 auto;
    background-color: #0c0c0ce0;
}

.content-outside {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card-inside {
    padding: 24px 24px;
    border-radius: 8px;
}

.card-body{
    border-radius: 40px;
    background-color: #e07171;
}

.pokemon-type {
    padding: 3px 25px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(41 53 72);
}

.main-card:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.button-show-more {
    text-align: center;
    background-color: #0f0f0f;
    padding: 20px 0;
    width: 100%;
}

.overlay-spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi - transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 100px;
    height: 100px;
    border: 50px solid #f3f3f3;
    border-top: 50px solid #ac0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}