body {
    margin: 0;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09172dde;
    height: 100px;
}

.pokedex-logo {
    height: 50px;
    padding-right: 10px;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 24px;
    color: white;
}

.footer {
    background-color: #09172dde;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffde;
    margin-top: 25px;
}

.pokedex-logo-footer {
    height: 60px;
    padding-right: 15px;
}

.main-card {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}