body {
    margin: 0;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09172dde;
    height: 75px;
}

.pokedex-logo {
    height: 50px;
    padding-right: 10px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.header-right {
    padding-right: 20px;
}

p {
    font-size: 24px;
    color: white;
}

.footer {
    background-color: #09172dde;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffffde;
}

.pokedex-logo-footer {
    height: 60px;
    padding-right: 15px;
}