body {
    margin: 0;
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2e2fde;
    height: 75px;
}

.pokedex-logo {
    height: 50px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.header-right {
    padding-right: 20px;
}

p {
    font-size: 24px;
}