body {
    margin: 0;
    max-width: 1440px;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09172dde;
    height: 100px;
}

.pokedex-logo {
    height: 50px;
    padding-right: 10px;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 24px;
    color: white;
}

.footer {
    background-color: #09172dde;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffde;
}

.pokedex-logo-footer {
    height: 60px;
    padding-right: 15px;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 75px 0px;
    background-color: #0c0c0ce0;;
}

.card-inside {
    background-color: #293548;
    padding: 10px 10px;
    border-radius: 8px;
}

.card-body{
    border-radius: 40px;
    background-color: #e07171;
}

.pokemon-type {
    padding: 3px 40px;
    font-weight: 600;
    font-size: 16px;
}

.main-card:hover {
    transform: scale(1.1); 
    cursor: pointer;
}